body {
    background-image: url("../images/numerique02.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    color: lightcyan;
    font-size: 0.5em;
    z-index: 10;
}

.hline {
    width: 50%;
    height: 2px;
    background-color: darkturquoise;
    margin: 0 auto;
    animation: fadein 2s;
    border-radius: 20%;
}
a:hover {
    color: blue;
    text-decoration: none;
}

a:link {
    color: darkturquoise;
    text-decoration: none;
}

a:visited {
    color: darkturquoise;
}

a:active {
    color: darkturquoise;
}

.container {
    font-size: 3em;
    background-color: rgb(43, 80, 80);
    border-radius: 10px;
    margin: 0 10%;
    padding: 2% 5%;
    display: inline-block;
}
.logoin {
    position: fixed;
    top: 5%;
    right: 0;
    left: 0;
    margin: 0 80%;
    width: 20%;
}
img {
    max-width: 100%;
    max-height: 50px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 5em;
}
.citation {
    color: darkturquoise;
    font-size: 3em;
    text-align: center;
    font-style: oblique;
}
.transparence {
    height: 1000px;
}

@media screen and (max-width: 50em) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 3em;
    }
    .container {
        font-size: 1.5em;
    }
    img {
        max-height: 30px;
    }
}

@media screen and (max-width: 30em) {
    img {
        max-height: 20px;
    }
    .hline {
        height: 1px;
    }
}



@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}